html {
    font-family: "JetBrains Mono", monospace;
    background: #C7BEA2;
    color: #203239;
    font-size: 1em;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.container {
    width: 1100px;
    margin: 25px auto 0 auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex: 1 0 auto;
    justify-content: space-between;
    background: #E5DCC3;
}

.contain {
    min-width: 420px;
    padding: 50px;
}

.card {
    background-color: #d3ccb6;
    border: #9A9483 solid 1px;
    padding: 20px 20px;
    min-height: 120px;
    min-width: 290px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
}

.title {
    font-size: 35px;
    padding: 0px 15px;
}

.medium {
    max-height: 15px;
    font-size: 20px;
}

.small {
    padding: 0px 15px;
}

.top {
    padding: 0px 15px;
    height: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
}

.icon {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.image {
    padding-right: 10px;
    filter: invert(13%) sepia(5%) saturate(4675%) hue-rotate(152deg) brightness(93%) contrast(84%);
}

.spacing {
    padding-right: 10px;
}

.align-center {
    text-align: center;
}

.projects {
    padding: 65px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    overflow-y: auto;
    max-height: 1000px;
}

.big {
    font-weight: bold;
    font-size: 20px;
}

.project {
    border: #9A9483 solid 1px;
    background-color: #d3ccb6;
    padding: 30px;
}

.link-split {
    border-bottom: none;
}

.link-split span {
    display: inline-block;
    border-bottom: 1px solid #203239;
}

.link-split:hover {
    border-bottom: none;
}

.link-split:hover span {
    border-bottom: 1px solid #203239;
}

a:link,
a:visited {
    color: #203239;
}

a:hover {
    color: #203239;
    border-bottom: 1px solid #203239;
}