html {
    font-family: "JetBrains Mono", monospace;
    background: #C7BEA2;
    color: #203239;
    font-size: 1em;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.container {
    max-width: 900px;
    width: 95%;
    margin: 25px auto 0 auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex: 1 0 auto;
    justify-content: space-between;
}

.card {
    background-color: #AAA492;
    border-radius: 15px;
    padding: 20px 20px;
    min-width: 290px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-size: 35px;
    padding: 0px 15px;
}

.medium {
    max-height: 15px;
    font-size: 20px;
}

.small {
    padding: 0px 15px;
}

.top {
    padding: 0px 15px;
    height: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.icon {
    border-radius: 30px;
    width: 100px;
    height: 100px;
}

.image {
    padding-right: 10px;
    filter: invert(13%) sepia(5%) saturate(4675%) hue-rotate(152deg) brightness(93%) contrast(84%);
}

.spacing {
    padding-right: 10px;
}

.projects {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.project {
    border-radius: 10px;
    background-color: #AAA492;
    padding: 15px;
}

.fa-field {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.fa-field i {
    margin-top: 2px;
}

.link-split {
    border-bottom: none;
}

.link-split span {
    display: inline-block;
    border-bottom: 1px solid #203239;
}

.link-split:hover {
    border-bottom: none;
}

.link-split:hover span {
    border-bottom: 1px solid #203239;
}

a:link,
a:visited {
    color: #203239;
}

a:hover {
    color: #203239;
    border-bottom: 1px solid #203239;
}